// @flow
import {StyleSheet} from "react-native";
import ThemeHelper from "../../helpers/ThemeHelper";

const Styles: any = StyleSheet.create({
    container: {
        backgroundColor: ThemeHelper.getColor('background'),
    },
});

export default Styles;
